body{
    background-color: black;
    color: white;
}
a{
    color: white;
}
.título{
    font-family: cursive;
    font-size: 28px;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.meio{
    text-align: center;
}
.footer{
    font-family: cursive;
    font-size: 18px;
}