body{
    background-color: blanchedalmond;
}
.a{
    font-size: 24px;
    font-family: cursive;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    gap: 5px;
}
.grande{
    background-color: cadetblue;
    padding: 20px;
}
.pequena{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.gato{
       border-radius: 20px;
       padding: 20px;
}
.gato1{
    background-color: plum;
}
.gato2{
    background-color: orange;
}
.gato3{
    background-color: orangered;
}
.gato4{
     background-color: orangered;
}
.gato5{
    background-color: cadetblue;
}
.gato6{
    background-color: burlywood;
}