body{
    background-color: black;
    color: white;
}
ul{
    list-style-type: none;
}
a{
    color: white;
}
.título{
    font-family: cursive;
    font-size: 28px;
}
.subtítulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.texto{
    font-family: cursive;
    font-size: 18px;
    margin-left: 12px;
}
.meio{
    text-align: center;
}
.footer{
    font-family: cursive;
    font-size: 18px;
}
.direita{
    text-align: right;
}
